* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    /* scroll-behavior: smooth; */
}

/* Fixed menu */
.navbar_fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: #A8DADC; /*Màu xanh pastel */
    line-height: 50px;
    z-index: 1;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.navbar_fixed.show {
    opacity: 1;
    transform: translateY(0);
}

.navbar_fixed .list_menu {
    /* display: flex;
    justify-content: space-around; */
    margin-left: 300px;
}

.list_menu li {
    list-style: none;
    float: left;
    padding: 0 40px;
}

.list_menu li a {
    text-decoration: none;
    color: #000;
}

.house_icon {
    margin-right: 10px;
}

.list_menu li:hover {
    background-color: #D0E6E6;
    color: #000;
}

/* Chia bố cục khung */
#block_father {
    width: 1100px;
    margin: auto;
    display: flex;
    margin-top: 50px;
    /* position: relative; */
}

#block_child_1 {
    width: 25%;
    /* position: fixed; */
}

#block_child_2 {
    width: 75%;
    margin-left: 50px;
}

/* CSS phần danh mục */
.block_niece_1 {
    border: 2px solid #ccc;
    /* box-shadow: 0 0 5px rgb(0, 0, 0, 0.3); */
}

.block_niece_1 h3 {
    text-align: center;
    color: #fff;
}

.text_title {
    width: 100%;
    height: 46px;
    background-color: rgb(108, 108, 246);
    line-height: 46px;
}

.block_niece_1 .list_nav {
    padding: 0 25px;
    background-color: #ccc;
}

.block_niece_1 .list_nav li {
    list-style: none;
    padding: 10px 0;
}

.block_niece_1 .list_nav a {
    text-decoration: none;
    color: black;
}

.list_nav a:hover {
    color: red;
}

/* CSS phần tin tức nổi bật */
.block_niece_2 {
    border: 1px solid #ccc;
    margin-top: 20px;
    /* height: 100px; */
    /* line-height: 100px; */
    /* text-align: center; */
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
}

.news_bubble {
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    /* align-items: center; */
}

.news_bubble img {
    width: 100px;
    height: 50px;
}

.news_bubble .news_title {
    margin-left: 5px;
    font-style: italic;
}

.news_bubble:hover {
    color: red;
    cursor: pointer;
}

/* CSS phần tin tức chính */
.box_title {
    font-size: 20px;
    margin-bottom: 20px;
}

.post,
.block_tintuc {
    display: flex;
    margin-bottom: 30px;
    align-items: flex-start;
}

.post .content,
.block_tintuc .tintuc {
    margin-left: 20px;
}

.post .content h3:hover,
.tintuc h3:hover {
    cursor: pointer;
    color: red;
}

.post .content p,
.tintuc .tintuc_content {
    opacity: 0.5;
    font-style: italic;
    line-height: 1.4;
    font-size: 14px;
    margin-top: 10px;
}

.post .content .date,
.tintuc .tintuc_day {
    margin-top: 5px;
    /* margin-left: 10px; */
    opacity: 0.6;
    font-size: 13px;
    margin-bottom: 15px;
    /* text-align: right; */
}

/* Hiển thị nội dung khi click vào danh mục */
section .box {
    display: none;
}

section .box.active {
    display: block;
}

.fix-img {
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    height: 120px;
    width: 200px;
}


/* CSS phần đăng tin  */
#modal, .confirm-modal {
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
}

/* Nội dung của modal */
.confirm-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
}

.block_dang_tin {
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}

.block_dang_tin h2 {
    text-align: center;
    margin: 10px 0;
}

/* .post {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
} */

.post img {
    /* max-width: 150px;
    margin-right: 20px; */
    border: 2px solid #ccc;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.3);
    height: 120px;
    width: 200px;
}

.post .content {
    flex-grow: 1;
}

/* .post .content h3 {
    margin: 0;
} */

/* .post .content .date {
    font-size: 0.9em;
    color: gray;
} */

/* .post .content p {
    margin: 5px 0;
} */

.admin-buttons {
    text-align: right;
    margin-top: 10px;
}

/* Phần này CSS cho phần html nhập dữ liệu */
#imageSelection {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    width: 100%;
}

#toggleImageSelection {
    margin-bottom: 10px;
    cursor: pointer;
    padding: 5px 10px;
}

.image-options {
    display: flex;
    gap: 10px; /* Khoảng cách giữa các phần tử */
}

.selectable-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
}

.selectable-image.selected {
    border-color: blue;
}

#adminSection {
    padding: 0 30px;
    padding-bottom: 30px;
}

#postTitle {
    width: 100%;
    padding: 10px;
}

#postDescription {
    width: 100%;
    height: 80px;
}

#adminSection h3 {
    margin-top: 30px;
    margin-bottom: 5px;
}

.btn {
    display: flex;
    justify-content: center;
}

.submit_btn {
    padding: 10px 30px;
    /* background-color: aqua; */ 
    margin-top: 30px;
}

/* Nút close */
.close-btn {
    position: absolute;
    top: 4px; /* Khoảng cách từ trên xuống */
    right: 15px; /* Khoảng cách từ phải sang */
    font-size: 30px; /* Kích thước chữ */
    font-weight: bold; /* Đậm hơn để nổi bật */
    cursor: pointer; /* Đổi con trỏ chuột khi hover */
    color: #333; /* Màu chữ */
}

.close-btn:hover {
    color: red; /* Đổi màu nút khi hover */
}

/* Nút trong phần xác nhận */
.confirm-content button {
    margin: 10px;
    padding: 10px 0;
    width: 70px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
}

#confirmYes {
    background-color: red;
    color: white;
}

#confirmNo {
    background-color: green;
    color: white;
}
